@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    color: #202020;
    min-height: 100vh;
    text-align: center;
    background-color: #fbfbfb;
    font-family: 'Space Mono', monospace;
}
main {
    height: 100vh;
    margin: 0 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
h1 {
    font-size: 2em;
    padding-top: 2rem;
    margin-bottom: 0.6em;
}
span {
    color: #525252;
    display: inline-block;
}
p {
    font-size: 1em;
    line-height: 1.4em;
    padding-bottom: 2rem;
}
a {
    color: inherit;
    text-decoration: underline;
}
